.contenedor{

}
.caja {
    background-color: red;
}

.caja1 {
    background-color: green;
}

.caja2 {
    background-color: pink;
}
.caja3 {
    background-color: yellow;
}
.caja4 {
    background-color: grey;
}
.caja5 {
    background-color: black;
}
.caja6 {
    background-color: blanchedalmond       
}
.caja7 {
    background-color: blue;
}
.caja8 {
background-color: blueviolet;
}
.caja9 {
    background-color: greenyellow;
    }
    